#footer{
  // position: fixed;
  margin-top: 2vh;
  bottom: 0;
  height: 10vh;
  background-color: rgb(247, 246, 246);
  text-align: center;
  #footerImage{
    padding-top: 2vh;
    #signage2{
      width: 20%;
    }
  }
}