#main{
  // width: 100%;
}
#exterior{
  width: 60%;
  margin: 5% 20%;
  border: 10px red inset;
}
.LeftImage{
  width: 25%;
  margin-left: 15%;
  border: 10px blue inset;
}
.RightImage{
  width: 25%;
  margin-right: 5%;
  border: 10px green inset;
}
.descriptionRight{
  width: 40%;
  margin-left: 5%;
}
.descriptionLeft{
  width: 40%;
  margin-left: 15%;
}
.Container, .ContainerRight{
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}